In [1]:
import pandas as pd
import requests
import config
import json
import numpy as np

In [2]:
df = pd.read_csv('resources/csv/googled_school_data.csv')
df.head()

,school_name,lat,lng,form_addy,actual_name
0,ADDAMS,41.857052,-87.644926,"1814 S Union Ave, Chicago, IL 60616, United St...",Jane Addams High School
1,AIR FORCE HS,41.828009,-87.632846,"3630 S Wells St, Chicago, IL 60609, United States",Air Force Academy High School
2,ALBANY PARK,41.971105,-87.709609,"4929 N Sawyer Ave, Chicago, IL 60625, United S...",Albany Park Multicultural Academy
3,ALCOTT ES,41.929648,-87.645971,"2625 N Orchard St, Chicago, IL 60614, United S...",Alcott Elementary School
4,ALCOTT HS,41.935756,-87.680521,"2957 N Hoyne Ave, Chicago, IL 60618, United St...",Alcott College Prep

In [3]:
df['form_addy'].isnull().sum()

1

In [4]:
len(df)

648

In [5]:
len(df.dropna().copy())

647

In [6]:
clean_df = df.dropna().copy()
print(len(clean_df))
clean_df.head()

647

,school_name,lat,lng,form_addy,actual_name
0,ADDAMS,41.857052,-87.644926,"1814 S Union Ave, Chicago, IL 60616, United St...",Jane Addams High School
1,AIR FORCE HS,41.828009,-87.632846,"3630 S Wells St, Chicago, IL 60609, United States",Air Force Academy High School
2,ALBANY PARK,41.971105,-87.709609,"4929 N Sawyer Ave, Chicago, IL 60625, United S...",Albany Park Multicultural Academy
3,ALCOTT ES,41.929648,-87.645971,"2625 N Orchard St, Chicago, IL 60614, United S...",Alcott Elementary School
4,ALCOTT HS,41.935756,-87.680521,"2957 N Hoyne Ave, Chicago, IL 60618, United St...",Alcott College Prep

In [7]:
clean_df[clean_df['form_addy'].str.contains('Chicago')]

,school_name,lat,lng,form_addy,actual_name
0,ADDAMS,41.857052,-87.644926,"1814 S Union Ave, Chicago, IL 60616, United St...",Jane Addams High School
1,AIR FORCE HS,41.828009,-87.632846,"3630 S Wells St, Chicago, IL 60609, United States",Air Force Academy High School
2,ALBANY PARK,41.971105,-87.709609,"4929 N Sawyer Ave, Chicago, IL 60625, United S...",Albany Park Multicultural Academy
3,ALCOTT ES,41.929648,-87.645971,"2625 N Orchard St, Chicago, IL 60614, United S...",Alcott Elementary School
4,ALCOTT HS,41.935756,-87.680521,"2957 N Hoyne Ave, Chicago, IL 60618, United St...",Alcott College Prep
...,...,...,...,...,...
643,OMBUDSMAN - WEST HS,41.874854,-87.686579,"2401 W Congress Pkwy, Chicago, IL 60612, Unite...",Ombudsman Chicago West Campus
644,PATHWAYS - ASHBURN HS,41.736496,-87.705658,"3284 W 87th St, Chicago, IL 60652, United States",Pathways In Education - Illinois
645,PATHWAYS - AVONDALE HS,41.939526,-87.705341,"3100 W Belmont Ave, Chicago, IL 60618, United ...",Pathways In Education - Illinois
646,PATHWAYS - BRIGHTON PARK HS,41.808251,-87.702320,"3124 W 47th St, Chicago, IL 60632, United States",Pathways In Education
647,PATHWAYS - HUMBOLDT PARK HS,41.902694,-87.687963,"2421 W Division St, Chicago, IL 60622, United ...",Pathways In Education -Humboldt Park